# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
*.cover
.nox/
.hypothesis/

# Flask stuff
instance/
.webassets-cache

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Ignore visitor count file
visitor_count.json

# Documentation
docs/_build/
